node_modules/
dist/
build/
coverage/
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# expo
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
